label {
        display: block;
}

.divTable{
        display: table;
        width: 100%;
}

.divTableRow {
        display: table-row;
}

.divTableHeading {
        background-color: #EEE;
        display: table-header-group;
}

.divTableCell, .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
}

.divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
}

.divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
}

.divTableBody {
        display: table-row-group;
}

.dropdiv {
    background-color: #ffffff;
    color: black;
    background-color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dddddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #dddddd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdiv {
    background-color: #eeeeee;
}
